/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝画面全体の設定＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}

/*タイトル部分*/
.title{
  width: auto;
  font-family: serif;
}

/*説明文*/
p{
  font-size: 40%;
  font-family: serif;
}
.border{
  border-bottom: 1px solid white;
}

/*リンク関係*/
a{
  color: white;
  text-decoration: none;
}
a:link{color: white;}
a:visited{color: mediumslateblue;}
a:hover{color: mediumslateblue;}

/*トップページボタン*/
#js-pagetop{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
}
#js-pagetop .ScrollTop a{
  background-color: #db4e76;
  color: #fff;
  text-decoration: none;
  line-height: 8rem;
  width: 8rem;
  height: 8rem;
  margin: 0;
  display: block;
  transition: all .5s ease;
  border-radius: 50%;
  text-align: center;
}
#get_top .get_top1 a:hover{
  opacity: .6;
}


/*固定する背景*/
.fix1 {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.fix2 {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  
  align-items: center;
  justify-content: center;
  
  padding: 5%;
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
/*各背景の画像*/
.img-bg-01 {
  background-image: url('./img/デザイン/演目紹介用/ホームページ用　さんさ.jpg');
}
.img-bg-02 {
  background-image: url('./img/デザイン/演目紹介用/ホームページ用　中里.jpg');
}
.img-bg-03 {
  background-image: url('./img/デザイン/演目紹介用/ホームページ用　神楽.jpg');
}
.img-bg-04 {
  background-image: url('./img/デザイン/演目紹介用/ホームページ用　獅子.jpg');
}
.img-bg-05 {
  background-image: url('./img/デザイン/all1.jpg');
}

.img-bg-06 {
    background-image: url('./img/デザイン/継承.jpg');
}

/*スクロールするコンテンツ*/
.scrollbox1 {
  background-color: #111;
}
.scrollbox2 {
  background-color: #222;
}
.scrollbox3 {
  background-color: #333;
}
.scrollbox4 {
  background-color: #444;
}
.scrollbox5 {
  background-color: #555;
}
.scrollbox6 {
  background-color: #666;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ メニュー部分 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.menu1{
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: auto;
}
.menu2{
  font-size: 25px;
  font-family: serif;
  width: 100px;
  writing-mode: vertical-rl;
  text-align: center;
  line-height: 408%;
}



/*＝＝＝＝＝＝＝＝＝＝ 演目紹介部分 ＝＝＝＝＝＝＝＝＝＝*/


/*＝＝＝＝＝ 三本柳さんさ踊り ＝＝＝＝＝*/
/*＝＝＝＝＝ 中里七つ舞 ＝＝＝＝＝*/
/*＝＝＝＝＝ 大森御神楽 ＝＝＝＝＝*/
/*＝＝＝＝＝ 澤目獅子踊り ＝＝＝＝＝*/
/*＝＝＝＝＝ メニュー部分 ＝＝＝＝＝*/







